html, head, body, #root {
    background-color: transparent;
}

/* Remove accessibility focus outline */
input:focus,
input:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}